:vars {
  --foreground: #e9e0e7;
  --background: #161217;
  --cursor: #e9e0e7;
  --primary: #e1b8f5;
  --on-primary: #422255;
  --secondary: #d3c0d8;
  --on-secondary: #382c3e;
  --tertiary: #f4b7b8;
  --on-tertiary: #4c2527;
  --surface: #161217;
  --surface-bright: #3c383d;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #978e98;
  /* --shadow: #000000; */
  --shadow: #1b161d;
  --red: #ffb2b9;
  --red-dim: #000000;
  --green: #95d5a7;
  --green-dim: #000000;
  --yellow: #dec56e;
  --yellow-dim: #000000;
  --blue: #cebdfe;
  --blue-dim: #000000;
  --magenta: #e9b5ee;
  --magenta-dim: #000000;
  --cyan: #82d3e2;
  --cyan-dim: #000000;
  --white: #82d3e0;
}
