:vars {
  --foreground: #dee3e6;
  --background: #0f1416;
  --cursor: #dee3e6;
  --primary: #87d1ea;
  --on-primary: #003642;
  --secondary: #b3cad4;
  --on-secondary: #1d333b;
  --tertiary: #c1c4eb;
  --on-tertiary: #2b2e4d;
  --surface: #0f1416;
  --surface-bright: #343a3c;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #899296;
  /* --shadow: #000000; */
  --shadow: #243034;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #95d5a7;
  --green-dim: #70c789;
  --yellow: #b8cf84;
  --yellow-dim: #a3c15f;
  --blue: #afc6ff;
  --blue-dim: #7ca2ff;
  --magenta: #e4b7f3;
  --magenta-dim: #d48bec;
  --cyan: #82d3e0;
  --cyan-dim: #59c5d6;
  --white: #82d3e0;
}
